.seatsSelectedContiner {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.seatsSelected {
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  margin: 0px 10px 0px 10px;
}

.seatSelected {
  transition: all 0.3s;
  width: 35px;
  height: 30px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  border-radius: 2px;
  transition: all 0.3s;

  &.current-seat {
    background: grey;
    /* border-color: #0056b3; */
    transform: scale(1.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: all 0.3s;
  }
}

