<div class="window-bg" [class.handle-selection]="!is_visibleHandleSelection">
  <app-form-component
    [personData]="personData"
    [selectedSeatList]="selectedSeatList"
    [is_visibleHandleSelection]="is_visibleHandleSelection"
    [grid]="grid"

    (doNotShould_clickChange)="onDoNotShouldClickChange($event)"
    (selectedSeatListChange)="onSelectedSeatListChange($event)"
    (is_visibleHandleSelectionChange)="onIsVisibleHandleSelectionChange($event)"
  ></app-form-component>
</div>


<div class="seat-grid-container" [class.grid-position-after-selection]="!is_visibleHandleSelection">
  <div class="seat-grid">
    <div class="grid-wrapper">
      <div *ngFor="let row of grid.slice().reverse(); let r = index" class="grid-row">
        <div *ngFor="let seat of row; let c = index"
          class="seat"
          [class.available]="seat.status === 'AVAILABLE'"
          [class.unavailable]="seat.status === 'UNAVAILABLE'"
          [class.selected]="seat.status === 'SELECTED'"
          [class.occupied]="seat.status === 'OCCUPIED'"
          [class.reserved]="!seat.free"
          (click)="toggleSeat(seat)"
          [title]="'Row ' + (grid.length - r + 1) + ', Seat ' + (c + 1)"
        >
          {{ grid.length - r }}-{{ c + 1 }}
        </div>
      </div>
    </div>
  </div>
</div>
