<div class="seat-grid-container">
  <div class="seat-grid">

    <div class="grid-wrapper">

      <!-- 'grid' é um Array de tipo Seat[] ou seja Array<Seat[]>. -->
      <!-- Para cada item (Seat[]) iterado no Array<Seat[]> será gerada uma grid-row. -->
      <div *ngFor="let row of grid.slice().reverse(); let r = index" class="grid-row">

        <!-- Iteraremos sobre cada um dos itens (Seat) em grid-row gerando para cada um deles uma "Seat". -->
        <div *ngFor="let seat of row; let c = index"
          class="seat"
          [class.available]="seat.status === 'available'"
          [class.unavailable]="seat.status === 'unavailable'"
          [class.selected]="seat.status === 'selected'"
          [class.reserved]="seat.reserved"
          (click)="toggleSeat(seat)"
          [title]="'Row ' + (grid.length - r + 1) + ', Seat ' + (c + 1)"
        >
          {{ grid.length - r }}-{{ c + 1 }}
        </div>
      </div>

    </div>
  </div>

  <div class="allocation">
    <div class="cancel">
      <!-- <fa-icon -->
      <!--   [icon]="faXmark" -->
      <!--   size="lg" -->
      <!--   class="xmark" -->
      <!-- ></fa-icon> -->
      Uncheck
    </div>
    <div
      class="buttom"
      (click)="confirm()"
    >Confirm</div>
  </div>
</div>
