@use 'colors' as *;

:host {
  display: flex;
  position: relative;
  grid-row: 1 / 6;
  grid-column: 10 / 13;
  border-radius: 1vw;

  background: $layout-bg;
}

:host ::ng-deep app-chart-component {
  display: block;
  width: 100%;
  height: 100%;
}
