:host {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 3vw;
  /* align-self: stretch; */
  /* height: 14vh; */
  /* background-color: #3f51b5; */
  /* background-color: rgba(10, 24, 31, 0.8); */
  position: relative;
  margin-bottom: auto;
  /* bottom: 8.8vh; */
  align-items: center;
  justify-content: center;
}

.options-container {
  display: flex;
  flex-direction: column;
  position: relative;
  /* position: relative; */
  /* background-color: #529FDD; */
  /* box-shadow: 8px 8px 12px rgba(0,0,0,0.15); */
  width: 90%;
  align-items: center;
  justify-content: center;
  height: 98%;
  border-radius: 3vw;
}


.plus-icon {
  color: #3f51b5;
  z-index: 6;
  font-size: 2.4rem;
  cursor: pointer;
  transition: all 0.5s ease;
  /* box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.15); */
  /* padding: 2px 10px 2px 10px; */
  border-radius: 12px;
}


.info-box-container-plus {
  z-index: 5;
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 14vw;
  height: 10vh;
  left: 1.2vw;
  transition: all 0.3s ease;
}

.info-box-plus {
  position: absolute;
  display: flex;
  /* text-align: end; */
  font-size: 1.2rem;
  font-family: "Gill Sans", sans-serif, bold;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  border-radius: 2vw;
  background-color: #f5f0f0;
  box-shadow: 0 8px 12px rgba(0,0,0,0.25);
  border-radius: 20px;
}


.plus-icon:hover {
  transform: translateX(8px) scale(1.1, 1.1);
}


.plus-icon:hover ~ .info-box-container-plus {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.05s;
}


@media (min-width: 1290px) and (max-width: 1601px){

  .info-box-container-plus {
    width: 17vw;
  }
}

@media (max-width: 701px), (max-width: 1290px) {

  .info-box-container-plus {
    /* position: absolute; */
    /* display: flex; */
    /* opacity: 0; */
    /* visibility: hidden; */
    /* align-items: center; */
    /* justify-content: center; */
    width: 17vw;
    /* height: 10vh; */
    /* left: 1.2vw; */
    /* transition: all 0.3s ease; */

  }

  .info-box-plus {
    /* position: absolute; */
    /* display: flex; */
    font-size: 0.96rem;
    /* font-family: "Gill Sans", sans-serif, bold; */
    /* align-items: center; */
    /* justify-content: end; */
    /* width: 100%; */
    /* height: 100%; */
    /* padding-right: 15px; */
    /* border-radius: 2vw; */
    /* background-color: #f5f0f0; */
    /* box-shadow: 10px 8px 10px 10px rgba(0, 0, 0, 0.1); */
  }
}

@media (max-width: 976px){

  .info-box-container-plus {
    /* position: absolute; */
    /* display: flex; */
    /* opacity: 0; */
    /* visibility: hidden; */
    /* align-items: center; */
    /* justify-content: center; */
    width: 20vw;
    /* height: 10vh; */
    /* left: 1.2vw; */
    /* transition: all 0.3s ease; */

  }
}

@media (max-width: 850px){

  .info-box-container-plus {
    width: 22vw;
  }
}

@media (max-width: 780px){

  .info-box-container-plus {
    width: 24vw;
  }
}

@media (max-width: 701px){

  .info-box-container-plus {
    width: 27vw;
  }
}

@media (max-width: 600px){

  .info-box-container-plus {
    width: 30vw;
  }
}

@media (max-height: 580px){

  .plus-icon {
      font-size: 1.9rem;
  }
}
