<div class="opt-container">

  <fa-icon
    [icon]="faPencil"
    size="lg"
    (click)="showBlurWindow()"
    class="pencil-icon"
  >
  </fa-icon>

  <div class="info-box-container-pencil">
    <div class="info-box-pencil">Edit Template</div>
  </div>


  <div class="window-blur" [class.window-blur-show]="showWindow">

    <div class="seat-grid" [class.seat-grid-active]="showWindow">
      <div class="grid-wrapper">

        <div class="control-container">
          <!-- Range Column Control -->
          <div class="column-control-container">
            <img src="icons/triangle-svgrepo-com.svg"
              title="Increade Column"
              class="triangle-icon-Increase"
              (click)="increaseColumns()"
            >
            <div class="name-content">
              Column
            </div>
            <div class="count-number">
              {{columns}}
            </div>
            <img src="icons/triangle-svgrepo-com.svg"
              title="Decrease Column"
              class="triangle-icon-Decrease"
              (click)="decreaseColumns()"
            >
          </div>

          <!-- Range Row Control -->
          <div class="row-control-container">
            <img src="icons/triangle-svgrepo-com.svg"
              title="Increase Row"
              class="triangle-icon-Increase"
              (click)="increaseRows()"
            >
            <div class="name-content">
              Row
            </div>
            <div class="count-number">
              {{rows}}
            </div>
            <img src="icons/triangle-svgrepo-com.svg"
              title="Increase Row"
              class="triangle-icon-Decrease"
              (click)="decreaseRows()"
            >
          </div>
        </div>

        <div class="grid-row-container">

          <div class="grid-row-wrapper">
            <!-- 'grid' é um Array de tipo Seat[] ou seja Array<Seat[]>. -->
            <!-- Para cada item (Seat[]) iterado no Array<Seat[]> será gerada uma grid-row. -->
            <div *ngFor="let row of grid.slice().reverse(); let r = index" class="grid-row">

              <!-- Iteraremos sobre cada um dos itens (Seat) em grid-row gerando para cada um deles uma "Seat". -->
              <div *ngFor="let seat of row; let c = index"
                class="seat"
                [class.available]="seat.status === 'AVAILABLE'"
                [class.unavailable]="seat.status === 'UNAVAILABLE'"
                [class.selected]="seat.status === 'SELECTED'"
                [class.reserved]="!seat.free"
                (click)="toggleSeat(seat)"
                [title]="'Row ' + (grid.length - r) + ', Seat ' + (c + 1)"
              >
                {{ grid.length - r }}-{{ c + 1 }}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="edit-menu-options">
      <div class="menu cancel-option" id="cancel-option" (click)="openWarning(!flagConfirmation)">

        <div class="xmark-container" [class.xmark-container-visible]="showWindow">
          <fa-icon
            [icon]="faXmark"
            size="lg"
            class="xmark-icon"
          ></fa-icon>
        </div>

        <!-- <div class="option-name-cancel"> -->
        <!--   Back -->
        <!-- </div> -->

      </div>

      <!-- <div class="menu save-changes-option" id="save-changes-option" (click)="openWarning(flagConfirmation)"> -->
      <!---->
      <!--   <div class="save-container" > -->
      <!--     <fa-icon -->
      <!--       [icon]="faFloppyDisk" -->
      <!--       size="lg" -->
      <!--       class="save-icon" -->
      <!---->
      <!--     ></fa-icon> -->
      <!--   </div> -->
      <!---->
      <!--   <div class="option-name-save"> -->
      <!--     Save -->
      <!--   </div> -->
      <!-- </div> -->
    </div>


    <app-warning-popup
      #warningPopup
      [title]="'Confirm action'"
      [cancelText]="'Discard'"
      (cancel)="handleCancel()"
      (confirm)="handleConfirm()"
    ></app-warning-popup>

    <!-- <app-warning-popup -->
    <!--   #warningPopup -->
    <!--   [title]="'Confirm action'" -->
    <!--   [message]="pickMessageToConfirmation(true)" -->
    <!--   [cancelText]="'Cancel'" -->
    <!--   [confirmText]="pickContentTextToConfirmation(true)" -->
    <!--   (confirm)="onDiscardConfirm()" -->
    <!--   (cancel)="onDiscardCancel()" -->
    <!-- ></app-warning-popup> -->

  </div>


</div>
