/*
  Colunas →
  Linhas ↓  | 6% |      3fr       |  20% |
            +----+----------------+------+
   60%↓     |  1 |        2       |   4  |
   1fr↓     |    |                |      |
   30%↓     |  3 |        5       |   6  |
*/
.container {
  display: grid;

  width: 100vw;
  height: 100vh;

  grid-template-columns: repeat(12, 1fr);  // 8 colunas de tamanho igual
  grid-template-rows: repeat(12, 1fr);     // 8 linhas de tamanho igual
  gap: 1vw 1vw;

  box-sizing: border-box;
  padding: 8px;
  overflow: hidden;

}

/* .small-window { */
/*   grid-row: 10 / 13;      // Linhas 6 a 8 */
/*   grid-column: 12 / 13;   // Colunas 7 a 8 */
/*   background: #f5f0f0; */
/*   border-radius: 1vw; */
/**/
/* } */

.bottom-left-corner:hover {
  transform: scale(1.026, 1.020);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bottom-right:hover {
  transform: scale(1.026, 1.020);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bottom-left:hover {
  transform: scale(1.012);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.top-right:hover {
  transform: scale(1.026, 1.015);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* .sidebar:hover { */
/*   transform: scale(1.026, 1.01); */
/*   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
/* } */

/* Condição	Significa...
   min-width: 801px	A tela estar mais larga que 800px
   max-width: 600px	A tela estar mais estreita que 600px
   min-height: 700px	A tela estar mais alta que 700px
   max-height: 620px	A tela estar mais baixa que 620px */
/* @media (min-width: 800px) and (max-height: 620px) { */
/**/
/*   .gambiarra2 { */
/*     height: 2vw; */
/*   } */
/* } */


@media (max-width: 600px) {

  .sidebar:hover {
    /* transform: scale(1.001, 1.001); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}



@media (max-width: 701px), (min-height: 1025px) {
  /* Esconda as gambiarras */
  /* .gambiarra1, */
  /* .gambiarra2, */
  /* .gambiarra3, */
  /* .gambiarra4, */
  /* .gambiarra-do-meio { */
  /*   display: none !important; */
  /* } */

  .container {
    /* Redefina completamente o grid para mobile */
    grid-template-columns: repeat(12, 1fr);  // 8 colunas de tamanho igual
    grid-template-rows: repeat(12, 1fr);     // 8 linhas de tamanho igual
  }


  .main:hover {
    transform: scale(1.001, 1.001);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .bottom-right:hover {
    transform: scale(1.001, 1.001);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .bottom-left:hover {
    transform: scale(1.001);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .top-right:hover {
    transform: scale(1.001, 1.001);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .sidebar:hover {
    /* transform: scale(1.001, 1.001); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }


  .sidebar {
    grid-row: 1 / 13;
    grid-column: 1 / 2;
    border-radius: 4vw;
  }

  .main {
    grid-row: 4 / 10;
    grid-column: 2 / 13;
    border-radius: 2vw;
  }

  .top-right {
    grid-row: 1 / 4;
    grid-column: 2 / 13;
    border-radius: 4vw;
  }

  .bottom-left {
    grid-row: 10 / 13;
    grid-column: 2 / 6;
    border-radius: 4vw;
  }

  .bottom-right {
    grid-row: 10 / 13;
    grid-column: 6 / 11;
    border-radius: 4vw;
  }

  .bottom-left-corner {
    grid-row: 10 / 13;      // Linhas 6 a 8
    grid-column: 11 / 13;   // Colunas 7 a 8
  }
}

