@if (isChartRooms()) {
  <div class="chart-container">
    @if (!chart_rooms_capacity) {
      <div class="chart-loading">Carregando gráfico...</div>
    }
    <canvas #chart_rooms_capacity_Canvas></canvas>
  </div>
}


@if (isChartCurrentRoomCapacity()) {
  <div class="chart-container">
    @if (!chart_current_room_capacity) {
      <div class="chart-loading">Carregando gráfico...</div>
    }
    <div class="label-content">N° Assentos de livres: 22</div>
    <canvas #chart_current_room_capacity_Canvas></canvas>
  </div>
}

@if (isChartRowCapacity()) {
  <div class="chart-container">
    @if (!chart_rows_capacity) {
      <div class="chart-loading">Carregando gráfico...</div>
    }
    <canvas #chart_rows_capacity_Canvas></canvas>
  </div>
}
