@use 'colors' as *;

:host {
  position: relative;
  z-index: 1;
  grid-row: 1/4;
  grid-column: 1/41;
  opacity: 1;
  border-radius: 1vw 1vw 0vw 0vw;
  overflow: visible;
}

.tab-container {
  width: 100%;
  height: 100%;
  display: flex;

  .tab-window {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 88%;
    background: $layout-bg;
    border-radius: 7px;
    margin: 0px 5px 0px 0px;
    transition: all 0.1s;
    cursor: pointer;
    user-select: none;

    &:hover {
      background: rgba(96, 93, 126, 0.39);
    }
  }

  .selected {
    background: #716E8D63;
    height: 92%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
