@use 'colors' as *;

:host {
  position: relative;
  z-index: 1;
  grid-row: 1/2;
  grid-column: 1/13;
  /* background: $layout-bg; */
  background: grey;
  opacity: 0;
  border-radius: 1vw 1vw 0vw 0vw ;
  overflow: visible;
}
