@use 'colors' as *;

:host {
  position: relative;
  z-index: 1;
  grid-row: 1/3;
  grid-column: 1/41;
  opacity: 1;
  border-radius: 1vw 1vw 0vw 0vw ;
  overflow: visible;
}

.tab-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20;


  .tab-window {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90%;
    background: $layout-bg;
    border-radius: 7px 7px 7px 7px;
    margin: 0px 5px 0px 0px;
  }

  .selected {
    background: #fff;
  }
}
