@use 'colors' as *;

:host {
  grid-row: 10 / 13;
  grid-column: 2 / 12;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: px solid #A9A9A9;
  border-right: px solid #A9A9A9;

  background: $layout-bg;

}

:host ::ng-deep app-chart-component {
  display: block;
  width: 100%;
  height: 100%;
}


/* Condição	Significa...
   min-width: 801px	A tela estar mais larga que 800px
   max-width: 600px	A tela estar mais estreita que 600px
   min-height: 700px	A tela estar mais alta que 700px
   max-height: 620px	A tela estar mais baixa que 620px */
@media (max-width: 901px) and (min-width: 701px){

  :host {
    grid-row: 10 / 13;
    grid-column: 2 / 11;
  }
}
