:host {
  /* z-index: 4; */
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);  // 8 colunas de tamanho igual
  grid-template-rows: repeat(5, 1fr);     // 8 linhas de tamanho igual
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: flex-end; */
  padding: 0 0 0 0;
  /* grid-row: 1 / span 3; */
  /* grid-column: 1 / 2; */
  grid-row: 1 / 13;      // Linhas 1 a 8
  grid-column: 1 / 1;   // Coluna 1
  background: #f5f0f0;
  border-radius: 1vw;
  /* padding-bottom: 6.5vh; */
  /* gap: 20px */
}

/* .menu-container { */
/*   display: flex; */
/*   width: 50%; */
/*   height: 7vh; */
/*   justify-content: center; */
/* } */
