@use 'colors' as *;

:host {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 0 0 0 0;
  grid-row: 1 / 13;
  grid-column: 1 / 1;
  border-radius: 1vw;

  background: $layout-bg;
}
