@use 'colors' as *;
@use "sass:color";

.container-seats {
  height: 80px;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid $divider;
}

.doNotShould-click {
  pointer-events: none;
  opacity: 0.5;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
  border-radius: 1vw;
  padding: 0;
  background: $layout-bg;
  color: $text-primary;

  .title-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    font-weight: 600;
    color: $primary-color;
  }

  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 200px;
    align-self: center;
  }

  .name-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

    label {
      padding: 0px 0px 4px 18px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 8pt;
      font-weight: 450;
      width: 100%;
      color: $text-secondary;
    }
    input {
      width: 96%;
      height: 50px;
      border-radius: 7px;
      outline: none;

      background-color: $gray-700;
      border: 1px solid $gray-600;
      color: $white;

      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 8px rgba($primary-color, 0.6);
      }
      &::placeholder {
        color: $text-placeholder;
      }
    }
  }

  .cpf-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

    label {
      width: 100%;
      padding: 0px 0px 4px 18px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 8pt;
      font-weight: 450;
      color: $text-secondary;
    }
    input {
      width: 96%;
      height: 50px;
      border-radius: 7px;
      outline: none;

      background-color: $gray-700;
      border: 1px solid $gray-600;
      color: $white;

      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 8px rgba($primary-color, 0.6);
      }
      &::placeholder {
        color: $text-placeholder;
      }
    }
  }

}




.has-error {
  border-color: $error-color;
  box-shadow: 0 0 8px rgba($error-color, 0.5);
}

.field-error-message {
  transition: all 0.8s;
  color: $error-color;
  font-size: 0.8rem;
  padding: 2px;
  height: 10px;
  font-weight: 500;
  transition: all 0.4s ease;
  min-height: 16px;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }

}




.allocation{
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  padding: 0px 0px 0px 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  margin-top: 30px;
  user-select: none;

  .cancel{
    height: 80%;
    border-radius: 10px;
    width: 30%;
    margin: 0px 5px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: ease-in 0.2s;

    background: linear-gradient(145deg, $gray-700, color.adjust($gray-700, $lightness: 8%));
    border: 1px solid $gray-600;

    &:hover {
      background: linear-gradient(
        145deg,
        $error-color,
        color.adjust($error-color, $lightness: 8%)
      );
      box-shadow: 0 4px 12px rgba($error-color, 0.4);
      transform: scale(1.05);
    }
  }

  .buttom{
    height: 80%;
    background: grey;
    cursor: pointer;
    border-radius: 10px;
    width: 30%;
    margin: 0px 5px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

    color: $white;
    background: linear-gradient(
      145deg,
      color.adjust($seat-available, $lightness: 5%),
      $seat-available
    );
    border: 1px solid color.adjust($seat-available, $lightness: 15%);

    &:hover {
      background: linear-gradient(
        145deg,
        $seat-available,
        color.adjust($seat-available, $lightness: 8%)
      );
      box-shadow: 0 4px 12px rgba($success-color, 0.4);
      transform: scale(1.05);
    }
  }


}


.handle-selection {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(0);
  pointer-events: auto;
}
