.seatsSelectedContiner {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.seatsSelected {
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  margin: 0px 10px 0px 10px;
}

.seatSelected {
  transition: all 0.3s;
  width: 35px;
  height: 30px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
  border-radius: 2px;
  transition: all 0.3s;

  &.current-seat {
    background: grey;
    /* border-color: #0056b3; */
    transform: scale(1.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: all 0.3s;
  }
}



.register-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  position: fixed;
  right: 0px;
  /* top: 130px; */
  box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
  border-radius: 1vw;
  padding: 0;

  .title-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    font-weight: 600;
  }

  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 200px;
    align-self: center;
  }

  .name-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

    label {
      padding: 0px 0px 4px 18px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 8pt;
      font-weight: 450;
      width: 100%;
    }
    input {
      width: 96%;
      height: 50px;
      border-radius: 7px;
      border: none;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
      outline: none;
    }
  }

  .cpf-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

    label {
      width: 100%;
      padding: 0px 0px 4px 18px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 8pt;
      font-weight: 450;
    }
    input {
      width: 96%;
      height: 50px;
      border-radius: 7px;
      border: none;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
      outline: none;
    }
  }

}




.has-error {
  border-color: #e74c3c;
  box-shadow: 0 0 0 2px rgba(231, 76, 60, 0.2);
}

.field-error-message {
  transition: all 0.8s;
  color: #e74c3c;
  font-size: 0.8rem;
  padding: 2px;
  height: 10px;
  font-weight: 500;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }

}




.allocation{
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  padding: 0px 0px 0px 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  margin-top: 30px;

  .cancel{
    height: 80%;
    background: grey;
    border-radius: 10px;
    width: 30%;
    margin: 0px 5px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: ease-in 0.2s;

    &:hover {
      -webkit-box-shadow: 9px 6px 15px -2px rgba(0,0,0,0.43);
      box-shadow: 9px 6px 15px -6px rgba(0,0,0,0.43);
      transition: all 0.2s;
    }
  }

  .buttom{
    height: 80%;
    background: grey;
    cursor: pointer;
    border-radius: 10px;
    width: 30%;
    margin: 0px 5px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    color: white;

    &:hover {
      box-shadow: 9px 6px 15px -6px rgba(0,0,0,0.43);
      transition: all 0.2s;
    }
  }


}


.handle-selection {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(0);
  pointer-events: auto;
}
