@use 'colors' as *;

:host {
  display: inline-block;
  height: 100%;
  width: 100%;
}


.config-container {
  position: relative;
  display: flex;

  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.gear-icon {
  color: $yellow-100;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;

}

.info-box-container-gear {
  position: absolute;
  display: flex;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 14vw;
  height: 12vh;
  right: 2vw;
  transition: all 0.3s ease;


  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.info-box-gear {
  position: absolute;
  display: flex;
  font-size: 1.2rem;
  font-family: "Gill Sans", sans-serif, bold;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  border-radius: 2vw;
  box-shadow: 10px 8px 10px 10px rgba(0, 0, 0, 0.1);

  background-color: $layout-bg;
}


.gear-icon:hover {
  transform: translateX(-8px) scale(1.2, 1.2);
}


.config-menu {
  position: absolute;
  right: 110%;
  bottom: 0%;
  width: 0;
  height: 100%;
  opacity: 0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 100;
  overflow: hidden;
  transform: translateX(200%);
  transition: all 0.5s ease;
  pointer-events: none;

  background: $layout-bg;
}

.config-menu-animation {
  transform: translateX(0);
  width: 50vw;
  opacity: 1;
  pointer-events: auto;
}


.menu-item {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;

  &:hover {
    background: $layout-bg;
  }
}



@media (max-width: 701px), (max-width: 1290px) {

  .info-box-container-gear {
    width: 17vw;
  }

  .info-box-gear {
    font-size: 0.9rem;
  }
}

@media (max-width: 976px){

  .info-box-container-gear {
    width: 20vw;
  }
}

@media (max-width: 850px){

  .info-box-container-gear {
    width: 22vw;
  }
}

@media (max-width: 780px){

  .info-box-container-gear {
    width: 24vw;
  }
}


@media (max-width: 600px){

  .info-box-container-gear {
    width: 28vw;
  }
}
