<div class="config-container">
  <!-- Ícone de engrenagem -->

    <fa-icon
      [icon]="faGear"
      size="lg"
      class="gear-icon"
      (click)="toggleMenu()"
      (mouseenter)="onHover(true)"
      (mouseleave)="onHover(false)"
    >
    </fa-icon>

  <div class="config-menu" [class.config-menu-animation]="shouldShowMenu">
    <fa-icon
      [icon]="faGear"
      size="lg"
      class="gear-icon-on-config-window"
      (click)="toggleMenu()"
      (mouseenter)="onHover(true)"
      (mouseleave)="onHover(false)"
    >
    </fa-icon>
  </div>
</div>
