<div class="config-container">
  <!-- Ícone de engrenagem -->

    <fa-icon
      [icon]="faGear"
      size="lg"
      class="gear-icon"
      (click)="toggleMenu()"
      (mouseenter)="onHover(true)"
      (mouseleave)="onHover(false)"
    >
    </fa-icon>
  <!-- <div class="icon-container"> -->
  <!-- </div> -->

  <!-- <div class="info-box-container-gear" [class.visible]="shouldShowInfoBox()"> -->
  <!--   <div class="info-box-gear">Settings</div> -->
  <!-- </div> -->

  <div class="config-menu" [class.config-menu-animation]="shouldShowMenu">
  </div>
</div>
