@use 'colors' as *;


.gambiarra2 {
  display: flex;
  justify-content: space-between;
  height: 3%;
  width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;

  background: $background;
}

.gambiarra3 {
  border-top-right-radius: 100vw;
  border-top-left-radius: 90vw;
  height: 100%;
  width: 40%;

  background: $layout-bg;
}

.gambiarra4 {
  border-top-left-radius: 100vw;
  border-top-right-radius: 90vw;
  height: 100%;
  width: 40%;

  background: $layout-bg;
}

.gambiarra-do-meio {
  position: relative;
  margin: 0 auto;
  width: 20%;
  height: 1.7vh;
  border-bottom-left-radius: 10vw;
  border-bottom-right-radius: 10vw;

  background: $background;
}



/* Condição	Significa...
   min-width: 801px	A tela estar mais larga que 800px
   max-width: 600px	A tela estar mais estreita que 600px
   min-height: 700px	A tela estar mais alta que 700px
   max-height: 620px	A tela estar mais baixa que 620px */

@media (min-width: 700px) and (max-width: 1000px) {

  .gambiarra2 {
    height: 3vh;
  }


}


/* Media queries permanecem iguais */
/* @media (min-width: 800px) and (max-height: 620px) { */
/*   .gambiarra2 { */
/*     height: 2vw; */
/*   } */
/* } */

@media (min-height: 1025px) and (min-width: 900px) {

  .gambiarra2 {
    height: 4vh;
  }
}


@media (max-width: 701px) {

  .gambiarra2,
  .gambiarra3,
  .gambiarra4,
  .gambiarra-do-meio {
    display: none !important;
  }
}


@media (max-height: 590px) {

  .gambiarra2 {
    height: 4vh;
  }


}
