:host {
  position: relative;
  z-index: 1;
  /* grid-row: 1 / 3; */
  /* grid-column: 2 / 4; */
  grid-row: 1 / 10;      // Linhas 1 a 6
  grid-column: 2 / 10;   // Colunas 2 a
  background: #f5f0f0;
  /* background: #A9A9A9; */
  border-radius: 1vw;
  overflow: visible;  // Permite que elementos filhos vazem para fora
  /* margin-left: 2vw; */
  /* margin-bottom: 1.5vw; */
  /* display: flex; // Adicionado */
  /* justify-content: center; // Adicionado */
  /* align-items: center; // Adic */
}

